.txtcol {
    padding-top: 60px;
    text-align: left;
    font-size: 1.1em;
}

.txtcol h1 {
  font-size: 2.6em;
  color: #ffffff;
  background-color: #000000;
}


.imgcol {
  display: flex;
  justify-content: flex-end;
  overflow: clip;
  padding: 0;
  margin: 0;
  width: 100%;
}

.bio-img {
   
    margin-top: 10px;
    height: auto;
    object-fit: cover;
    
}

.robo-img {
    position: right;
}

/* @media only screen and (min-width: 600px) {
    .bio-img {
      left: 110px;
      width: 80%;
    }
  }

@media only screen and (min-width: 1000px) {
    .bio-img {
      left: 140px;
      width: 60%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .bio-img {
      left: 200px;
      width: 60%;
    }
  } */