.txtcol {

    padding-top: 60px;
    text-align: left;
}

.bio-img {
    /* float: left; */
    border-radius: 8px;
    margin-top: 40px;
    /* margin-right: 10px; */
}

.robo-img {
    position: right;
}